.card {
  border: 10px solid #555;
  border-radius: 8px;
  height: 200px;
  width: 150px;
}

.card-container {
  display: inline-block;
  transition: transform 0.2s;
}

.card-container:hover {
  transform: scale(1.5);
}

.card-container:hover .card {
  box-shadow: 0px 0px 10px 5px rgba(66, 173, 255, 0.5);
}

.card-container:hover .card.disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.card.selected {
  box-shadow: 0px 0px 10px 5px rgba(255, 208, 38, 0.8);
}

.card-text {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  color: black;
  text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white,
    0px 0px 5px white;
  opacity: 0%;
  transition: opacity 0.2s;
  width: 200px;
}

.card-power {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  opacity: 0%;
  transition: opacity 0.2s;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black,
    0px 0px 10px black;
}

.card-rulebox {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0%);
  width: 150px;
  color: white;
  opacity: 0%;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.card-container:hover .card-text {
  opacity: 100%;
}

.card-container:hover .card-power {
  opacity: 100%;
}

.card-container:hover .card-rulebox {
  opacity: 100%;
}
