.game {
  margin-top: 2.5rem;
}

.game-hand {
  display: flex;
  justify-content: center;
}

.game-arena {
  margin-top: 20px;
}

.game-card-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  width: 350px;
  color: white;
  text-shadow: 0px 0px 5px black,
    0px 0px 5px black,
    0px 0px 5px black,
    0px 0px 5px black;
  animation: textAppear 2.5s ease-in;
  opacity: 0%;
}

@keyframes textAppear {
  0% {
    opacity: 0%;
    transform: translate(-50%, -50%) scale(0%);
  }
  10% {
    opacity: 100%;
    transform: translate(-50%, -50%) scale(130%);
  }
  20% {
    transform: translate(-50%, -50%) scale(100%);
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.player-status {
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
}

.game-arena-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-hero-divider {
  width: 3px;
  margin: 10px;
  background-color: black;
}

.game-bottom {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.game-vs {
  margin-left: 15px;
  margin-right: 15px;
}

.game-card-slot-hard {
  margin: 5px;
  height: 200px;
  width: 150px;
  background-color: #ddd;
  border-radius: 8px;
  position: relative;
}

.game-card-slot {
  margin: 5px;
  animation: 0.25s ease-in 0.25s 1 fadeIn;
  height: 200px;
  width: 0px;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.game-card-slot.destroyed {
  animation: fadeOut 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    width: 0px;
  }
  100% {
    opacity: 100%;
    width: 150px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
    width: 150px;
  }
  100% {
    opacity: 0%;
    width: 0px;
  }
}

.theme-deck {
  width: 650px;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
