* {
  box-sizing: border-box;
}

.home {
  padding-top: 5rem;
}

.center {
  text-align: center;
}

.home-card {
  padding: 3rem 1rem 2rem;
  background-color: white;
  border-radius: 20px;
  transition: transform 0.2s;
}

.home-card:hover {
  transform: scale(1.1);
}

.home-card img {
  border: 20px solid #555;
  border-radius: 10px;
  height: 300px;
  width: 225px;
}

.home-links {
  display: grid;
  grid-template-columns: 375px 375px 375px;
  grid-auto-flow: row;
  justify-content: center;
  grid-gap: 3rem;
}

.links a:visited {
  color: black;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@media only screen and (max-width: 1250px) {
  .home-links {
    display: grid;
    grid-template-columns: 375px;
  }
}
