.instructions {
  color: black;
  border-style: solid;
  background-color: white;
  border-width: 4px;
  text-align: left;
  width: 650px;
  margin: auto;
  padding: 5px 5px 5px 5px;
}

.instructions-title {
  text-align: center;
}
