.app {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body {
  background: #f1f5f8;
}

button {
  background-color: #ffd600;
  padding: 10px 24px;
  border-radius: 12px;
  border: none;
  cursor:pointer;
  margin-top: 10px;
}